
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a, .topnav td a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0 30px;
  font-size: 13px;
  font-weight: 600;
  font-family: "Arial";
  /*font-family: -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;  /*font-family: sans-serif;  1 */
  /*font-family: "TimesNewRoman";*/
  /*font-family: 'IBM Plex Sans', sans-serif*/;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  /*background-color: transparent;*/
}

/* Change the color of links on hover */
.topnav a:hover, .topnav a:focus {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #555;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
