/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #c8493d !default;
$red-color-dark:      #aa2f29 !default;
$orange-color:        #d86f2e !default;
$blue-color:          #4186c2 !default;
$blue-color-dark:     #205b9e !default;
$cyan-color:          #258880 !default;
$light-cyan-color:    #38aca3 !default;
$green-color:         #499a39 !default;
$green-color-lime:    #68a83a !default;
$green-color-dark:    #5e7609 !default;
$green-color-light:   #8fa33d !default;
$green-color-bright:  #879A39 !default;
$purple-color:        #56379a !default;
$light-purple-color:  #8a7dc4 !default;
$pink-color:          #962b68 !default;
$pink-color-light:    #d25f9a !default;
$yellow-color:        #cb9e18 !default;

$grey-color:          #7d7b75 !default;
$grey-color-light:    #bcb9ad;
$grey-color-dark:     #211f1e;
$grey-900:            #252422;

$white-color: #fbf8ee !default;
$black-color: #0f0e0e !default;


// Theme colors

$code-bg-color-light:     rgba($purple-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;
